<main class="board-container">
    <div class="flex flex-col justify-center aling-center sm:h-full sm:w-2/3 ml-10">
        <div class="w-full flex justify-around text-white font-bebas mt-6">
            <div class="flex flex-col text-4xl">
                <span *ngIf="currentRound != null">RONDA# {{currentRound.round}}</span>
                <span *ngIf="currentRound == null">RONDA# 1</span>
                <span *ngIf="currentRound != null">JUGADORES {{currentRound.playersInRound.length}}/5</span>
                <span *ngIf="currentRound == null">JUGADORES {{activePlayers}}/5</span>
            </div>
            <button (click)="startGame()" class="btn-marvel">
                INICIAR
            </button>
            <div class="text-6xl">
                <span>TIEMPO: {{timer}}S</span>
            </div>
        </div>
        <div class="board-bg justify-items-center" >
            <div class="card-container-deck" *ngFor="let card of boardDeck">
                
            </div>            
        </div>
    </div>
    <div class="deck-container sm:h-full sm:w-1/3">
        <div class="text-white text-6xl font-bebas h-1/6 text-center py-14 ">
            <span class="deck-title">TU MAZO</span> 
        </div>
        <div class="cards-grid h-5/6 sm:grid grid-cols-2 gap-8 p-4 content-start justify-items-center overflow-scroll font-roboto" *ngIf="player.deck != null">
            <button class="card-container" [disabled]="!board.isEnabled" *ngFor="let card of player.deck" (click)="putCardInBoard(card.cartaId)">
                <img src={{card.url}} alt="card image">                
                <div class="card-border">
                    <span class="btn-marvel text-white text-4xl font-bebas">POWER</span>
                    <span class="text-white text-6xl font-bebas">{{card.poder}}</span>
                </div>
            </button>                        
        </div>
        
        
    </div>
</main>
