<div class="home-container">
    <div class="indications-container w-fullscreen sm:w-2/4 sm:h-2/4 font-roboto mb-6 sm:mb-24">
        <h2 class="text-white text-6xl font-bold mb-8">Indicaciones de Juego</h2>
        <p class="text-white text-4xl mb-6">Para iniciar el juego debes estar registrado, incluso los jugadores.</p>
        <a href="#" class="btn-marvel sm:px-16 sm:py-6 sm:mb-10">Crear Juego</a>
    </div>
    <a href="#" class="btn-marvel-secondary sm:px-12 sm:py-6">Juegos Creados</a>
</div>

