.home-container{
    background-image: url(../../../assets/images/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indications-container{
    padding: 0.5rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 500px){
    .indications-container{
        background-color: rgba(38, 38, 38, 0.5);
    }
}