<div class="lobby-container">
    <div class="my-16 text-center">
        <h2 class="text-white font-bebas text-8xl">TABLEROS CREADOS</h2>
    </div>
    <div class="sm:my-24 sm:w-2/4 sm:h-4/5">
        <div class="board-card font-roboto sm:w-full sm:h-1/4">
            <span class="text-4xl sm:text-6xl sm:w-3/5">TABLERO 1</span>
            <div class="flex justify-center flex-row sm:justify-space-around">
                <button class="btn-marvel md:mx-12 mx-4">UNIRSER</button>
                <span class="text-4xl sm:text-6xl">5/5</span>
            </div>
        </div>
        <div class="board-card font-roboto sm:w-full sm:h-1/4">
            <span class="text-4xl sm:text-6xl sm:w-3/5">TABLERO 2</span>
            <div class="flex justify-center flex-row sm:justify-space-around">
                <button class="btn-marvel md:mx-12 mx-4">UNIRSER</button>
                <span class="text-4xl sm:text-6xl">0/5</span>
            </div>
        </div>
        <div class="board-card font-roboto sm:w-full sm:h-1/4">
            <span class="text-4xl sm:text-6xl sm:w-3/5">TABLERO 3</span>
            <div class="flex justify-center flex-row sm:justify-space-around">
                <button class="btn-marvel md:mx-12 mx-4">UNIRSER</button>
                <span class="text-4xl sm:text-6xl">3/5</span>
            </div>
        </div>
        <div class="board-card font-roboto sm:w-full sm:h-1/4">
            <span class="text-4xl sm:text-6xl sm:w-3/5">TABLERO 4</span>
            <div class="flex justify-center flex-row sm:justify-space-around">
                <button class="btn-marvel md:mx-12 mx-4">UNIRSER</button>
                <span class="text-4xl sm:text-6xl">0/5</span>
            </div>
        </div>
        
    </div>
</div>

