<div class="create-container">
    <app-side-menu *ngIf="showSide"></app-side-menu>
    <div class="my-16 text-center">
        <h2 class="text-white font-bebas text-8xl">CREAR JUEGO</h2>
        <button class="leave-btn font-roboto" (click)="leaveLobby()">
            SALIR
        </button> 
        <button class="invite-btn font-roboto" (click)="inviteThisLoby()">
            Invitar
        </button> 
        <button class="online-btn font-roboto" (click)="showSideMenu()">
            Online
        </button>      
    </div>
    <div class="sm:my-12 sm:w-3/4 sm:h-3/5">
        <div class="flex justify-between">
            <div>
                <h3 class="text-white font-bebas text-6xl">Jugadores</h3>
            </div>
            <button type="submit" form="frmJugadores" class="btn-marvel" [disabled]="form.invalid">INICIAR JUEGO</button>            
        </div>        
        <div class ="form-players">
            <div class="card-player" *ngFor="let user of usersInLobby ">
                <div class="bg-card-player">                    
                </div>
                <div class="player-data">
                    <span class="font-bebas text-5xl text-center pt-2 px-2">{{ (user.nickName).toUpperCase() }}</span>
                    <div>
                        <img src={{user.photoUrl}} alt="photo-profile">
                    </div>
                </div>
            </div>
        </div>                       
    </div>
</div>
